body {
    background-color: #222831;
}

button:hover{
    background-color: #00949b;
}

.login-and-reg-form{
    background-color: #222831;
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;

}

.login-and-reg-form-label {
    color: #EEEEEE;
    font-size: 45px;
    margin-top: 10px;
    
}

.login-and-reg-input {
    padding: 6px 12px;
    background: #393E46;
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 20px;
    color: white;
    height: 46px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.login-and-red-btn{
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #14FFEC;
}

.link-between-log-and-reg {
    color: #14FFEC;
    text-decoration: underline;
}

.link-between-log-and-reg:hover {
    cursor: pointer;
    color: #00949b;
}

.show-username {
    width: 45px;
    height: 45px;
    background-color: green;
    margin-left: 20px;

}

.issueDiv {
    background-color: #222831;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    /* width: 700px;
    height: 500px; */
    margin-bottom: 10px;
}

.issueDiv::first-line {
    font-size:xx-large;
}

.box-container{
    display: flex;
    margin: 15px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;
}

.usernameAssigned{
    font-size: x-large;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 55px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;
}

#time-estimate-input {
    padding: 6px 12px;
    background: #393E46;
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 20px;
    color: white;
    height: 30px;
    margin-right: 120px;
    margin-left: 120px;
}

#time-estimate-btn {
    margin-top: 15px;
    background-color: #14FFEC;
    margin-right: 120px;
    margin-left: 120px;
}

#fieldsDiv {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.add-userAndIssue-btn {
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 15px ;
    margin-bottom: 10px;
}

.add-userAndIssue-input {
    padding: 6px 12px;
    background: #393E46;
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 20px;
    color: white;
    height: 30px;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 15px;
}

#membersDiv {
    border: solid 2px #EEEEEE;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.members-names {
    font-size: x-large;
    margin: 10px;
}

#menu {
   background-color: #393E46; 
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding: 10px;
   border: 2px solid #4b525c;
   border-radius: 5px;
}

#create-project-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 20px;
    width: 500px;
}

#newProjectInputField {
    padding: 6px 12px;
    background: #393E46;
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 20px;
    color: white;
    height: 30px;
    margin-bottom: 15px;
}

#cardsDiv {
    background-color: #393E46;
    border: 2px solid #4b525c;
    border-radius: 5px;
    padding: 50px;
}

.project-div {
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #14FFEC;
    border-color: #00949b;
    color: black;
}

.project-div:hover {
    background-color: #00949b;
    cursor: pointer;
}